@font-face {
  font-family: 'TTHakgyoansimMulgyeolB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.topBanner{
  width:100%;
  height:80vh;
  max-height:950px;
  background-image:
    url('../../../assets/bg_topBanner.png'),
    linear-gradient(180deg,  rgb(17, 17, 40) 0%, rgb(0 88 141) 65%, rgb(46, 139, 87) 30%, rgb(60, 179, 113) 100%);
  background-repeat:no-repeat no-repeat;
  background-position: 50% 96%, 50% 100%;
  background-size: auto 45%, contain;
  h2{
    margin:0;
    padding:0;
    font-family: 'TTHakgyoansimMulgyeolB';
    font-size:3.5rem;
    line-height:1;
    text-align:center;
    color:var(--main-background-color);
  }
  p{
    text-align:center;
    color:var(--main-background-color);
  }
}