.loading_wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camping-detail-main{
    margin-top: 150px;
    border: none;
}

.img{
    height: 500px;
}